@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db #f9fafb;
}
*::-webkit-scrollbar {
  width: 6px;
}
*::-webkit-scrollbar-track {
  background: #f9fafb;
}
*::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 3px;
}
